.metro-grid {
  width: 100%;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
  grid-auto-flow: row dense;
  container-type: inline-size;
}

@media (min-width: 600px) {
  :root {
    --cols: 3;
  }
}

@media (min-width: 900px) {
  :root {
    --cols: 4;
  }
}

@media (min-width: 1200px) {
  :root {
    --cols: 5;
  }
}
